* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.submenu {
    display: none;
    position: absolute;
}

.submenu,
.dropdown-menu {
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.menu,
.submenu {
    list-style: none;
}

.menu > li {
    float: left;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: rgb(52, 20, 168);
}

.submenu li {
    display: block;
    padding: 8px;
}

.menu button a {
    text-decoration: none;
    color: #000000e1;
}

.navbar-toggler-icon {
    background-color: aqua;
    display: block;
    color: black;
}