*,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.submenu {
    display: none;
    position: absolute;
}

.submenu,
.dropdown-menu {
    border: 2px solid rgba(0, 0, 0, 0.4);
}

ul {
    list-style: none;
}

.menu > li {
    float: left;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover .submenu,
.submenu:hover {
    display: block;
    background-color: #fff;
}

.menu li:hover {
    border-color: rgb(52, 20, 168);
}

.submenu li {
    display: block;
    padding: 8px;
}

a {
    text-decoration: none;
}

button a {
    color: #000000e1;
}

.navbar-toggler-icon {
    display: block;
    color: black;
}

.header-princial > .container {
    background-color: antiquewhite;
    justify-content: space-between;
}

.botoes {
    align-items: center;
    justify-content: space-around;
}

.botoes button {
    display: flex;
    align-items: center;
    height: 75%;
    width: auto; 
}

.botoes button img {
    height: 100%;
    width: auto;
}

section {
    margin-top: 5%;
}

section .container {
    justify-content: space-around;
}


.titulo > * {
    margin-bottom: 5%;
}

.titulo {
    flex-direction: column;
}

.titulo h2 {
    border-bottom: 2px solid black;
}

#tabela {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#tabela > *,
.livros > * {
    margin-top: 8%;
    margin-right: 5%;
}

.card-body,
.titulo,
ul {
    text-align: center;
    align-items: center;
}

.secao {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.livros {
    flex-wrap: wrap;
}

aside {
    position: absolute;
    width: 10%;
    top: 35%;
    margin-left: 2%;
}

.links li a {
    color: rgba(0, 0, 0, 0.8);
}

.links li a:hover {
    text-decoration: underline;
    color: black;
    transition: 0.4s;
}

.lateral > li {
    list-style: disc;
    margin-top: 15%;
}

.links > * {
    padding-top: 5%;
}